body {
  margin: 0;
  padding: 0;
  /* background-image: url('../Images/background-image.jpg');  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #073B3A;
}

.content-box {
  max-width: 350px;
  max-height: fit-content;
  margin: 50px auto 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
}

.policy-box{
  max-width: 800px;
  max-height: fit-content;
  margin: 50px auto 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
}

.heading {
  text-align: center;
  color: white;
  margin-top: 0px;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.input-element {
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 8px;
  border-radius: 5px;
  border-width: 0px;
  height: 40px;
  /* background-color: #C1E6B8; */
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
  display: block;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 12px 0px
}

.button:hover {
  background-color: #45a040;
}

#create-button{
  margin: 10px 200px;
  width: 400px;
}

.redirect-box{
  margin-top: 2px;
  max-height: 30px;
  display: grid;
  align-content: center;
}

img{
  max-width: 70px;
  display: block;
  margin: 0px auto;
  /* filter: invert(100%); */
}

a{
  color: red;
}

.policy-details{ 
  padding: 20px;  
  background-color: rgb(245 245 245 / 30%);  
  border: 1px solid #ddd;     
  border-radius: 8px;         
}

.vehicle-details, .coverage-details {
  margin-bottom: 30px
}


.policy-sub {
  display: flex;
  justify-content: space-between;
}

.policy-sub > div {
  width: 48%;
}

.policy-sub > div > p {
  font-weight: bold;
}

.policy-sub input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
  /* background-color: #C1E6B8; */
}

.new-policy-box{
  display: flex;
  justify-content: space-between;
}

.new-policy-box > div {
  width: 48%;
}

.new-policy-box{
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.button-group button {
  margin-right: 8px;
  padding: 10px 15px;
  background-color: #4caf50;  /* Blue color for buttons */
  color: #fff;               /* White text color for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #45a040;  /* Darker blue on hover */
}

.button-group2{
  display: flex;
  justify-content: space-between;
}


.button-group2 button {
  /* margin-right: 8px; */
  padding: 10px 15px;
  background-color: #4caf50;  /* Blue color for buttons */
  color: #fff;               /* White text color for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 48%;
}

hr{
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.1)
}

.editable {
  background-color: white;
}

.non-editable {
  /* background-color: #f0f0f0;  */
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  /* color: #666;  */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
}

tbody > tr > td {
  text-align: left;
  padding-left: 25px;
}

th, td {
  /* border: 0.5px solid #000000; */
  text-align: left;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #4caf50;
  
}
td{
  border-bottom: 0.5px solid #000000;
  border-top: 0.5px solid #000000;
}

.sub-column{
  border-bottom: 0.5px solid #000000;
}

.tab{
  text-align: center;
  border: 0.5px solid #000000;
  margin: 10px;
  border-radius: 5px;
}

.tab > p {
  font-weight: bold;
  margin: 5px auto;
}

#show-more{
  margin: 2px auto;
  margin-left: 630px;
}